body{
    margin:0;
    padding:0;
    background:rgb(56, 52, 52);
    width:100%;
    text-align:center
    
}

#gameBoard {
    height: 680px;
    width: 680px;
    position: absolute; /* postulat de départ */
    top: 20px; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, 0%); /* décalage de 50% de sa propre taille */
    border: 2px solid white;
    background-image: url(../img/plateau.png);
    background-size: cover;
    z-index:0;
}

#textInfo {
    display: flex;
}

.bou{
    position: relative;
    z-index:5;
    position: absolute; /* postulat de départ */
    top: 30%; left: 40%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

.info_box {
    z-index:4;
    border: solid grey 2px;
    background-color: #FFFFFF;
    position: absolute; /* postulat de départ */
    top: 363px; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, 0%); /* décalage de 50% de sa propre taille */
    width: 440px;
    height: 232px;
    overflow: auto;
    font-size: 12px;
    font-family: Helvetica;
    padding-left: 3px;
    border-radius: 10px;
    border: 3px inset #A09A9A;
}
.form-popup {
    display: none;
    position: fixed;
    height:auto;
    width: 400px;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 5%);
    border: 2px solid #666;
    background-color: rgb(255, 255, 255);
    z-index: 9;
    flex-direction: column;
}

.bouton{
    position: relative;
    display: flex;
    width: 100px;
    left: 50%;
    top: 90%;
    transform: translate(-50%, 5%);
    margin-bottom: 40px;
    margin-top: 20px;

}

.titre{
    width: 90%;
    position: relative;
    background-color: aquamarine;
    left: 50%; 
    margin-top: 10px;
    transform: translate(-50%, 0%); /* décalage de 50% de sa propre taille */
    border-radius: 10px;
    border: solid 2px ;
}
.price div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.price div p{
    font-size: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
#nameprice{
    width: 70%;
}

.price{
    margin-top: 10px;
    margin-left: 10px;
}

p{
    margin-bottom: 0px;
    margin-top: 5px;
}