body{
    margin:0;
    padding:0;
    background:rgb(56, 52, 52);
    width:100%;
    text-align:center
    
}

#gameBoard {
    height: 680px;
    width: 680px;
    border: 2px solid white;
    background-image: url(../img/plateau.png);
    background-size: cover;
    z-index:0;
    position: absolute;
    transform: translate(-50%, 0%);
}

#textInfo {
    display: flex;
}

.bou{
    z-index: 5;
    position: absolute;
    left: 121px;
    margin-top: 295px;
    display: none;
}
.ungrade{
    z-index: 5;
    position: absolute;
    left: 198px;
    margin-top: 314px;
    display: none;
}

.info_box {
    margin-top: 337px;
    margin-left: 108px;
    z-index: 4;
    background-color: #FFFFFF;
    position: relative;
    width: 440px;
    height: 232px;
    overflow: auto;
    font-size: 12px;
    font-family: Helvetica;
    padding-left: 3px;
    border-radius: 10px;
    border: 3px inset #A09A9A;
}
.form-popup {
    display: none;
    position: fixed;
    height:auto;
    width: 400px;
    left: 30%;
    top: 10%;
    transform: translate(-50%, 5%);
    border: 2px solid #666;
    background-color: rgb(255, 255, 255);
    z-index: 9;
    flex-direction: column;
}

.bouton{
    position: relative;
    display: flex;
    width: 100px;
    left: 50%;
    top: 90%;
    transform: translate(-50%, 5%);
    margin-bottom: 40px;
    margin-top: 20px;

}

.titre{
    width: 90%;
    position: relative;
    background-color: aquamarine;
    left: 50%; 
    margin-top: 10px;
    transform: translate(-50%, 0%); /* décalage de 50% de sa propre taille */
    border-radius: 10px;
    border: solid 2px ;
}
.price div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.price div p{
    font-size: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
#nameprice{
    width: 70%;
}

.price{
    margin-top: 10px;
    margin-left: 10px;
}

p{
    margin-bottom: 0px;
    margin-top: 0px;
}
.menu{
    position: absolute;
    background-color: aliceblue;
    z-index: 8;
    top: 70px; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, 0%);
    padding: 20px;
    border-radius: 10px;
    border: 3px inset #A09A9A;
}
.Overclocking{
    display: none;
    border: 2px solid #666;
    position: absolute;
    background-color: aliceblue;
    padding: 35px;
    left: 50%;
    top: 20%;
    transform: translate(-50%, 5%);
    z-index: 8;
    border-radius: 10px;
}
.addUgrade{
    display: none;
    border: 2px solid #666;
    position: absolute;
    background-color: aliceblue;
    padding: 35px;
    left: 30%;
    top: 20%;
    transform: translate(-50%, 5%);
    z-index: 8;
    border-radius: 10px;
}

.plateau {
    height: 680px;
    width: 680px;
    position: absolute; /* postulat de départ */
    top: 19px;
    left: 20px;
}

#suppPlayer{
    width: 100px;
}

.addPlayer{

}

div#infoPlayers {
    padding-left: 714px;
    padding-top: 40px;
    display: flex;
    /* background-color: blanchedalmond; */
    flex-wrap: wrap;
}
.infoPlayer{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 40%;
    min-width: 190px;
}

div#topInfo {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 5px;
}

.infoPlayer p {
    padding: 5px;
} 

#propertie{
    border-radius: 10px; 
    margin-top: 5px;
}
#propertie p{
    padding: 0px;
}